html {
    height: 100%;
    width: 100%;
  }

.body {
    background-image: url("imgs/besties.png");
    background-size: cover;
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-family: "gstatic", serif;
  }
  
  .GoOn1{
    color: #000000;
    ;
  }
  .diff{
    color: rgb(0, 110, 117);
  }

  .diff2{
    color: rgb(0, 121, 0);
  }


  .pinyon-script-regular {
    font-family: "Pinyon Script", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  h1{
    font-family: "Pinyon Script", serif;
  }
  
  h3{
    font-family: "Pinyon Script", serif;
  }
  
  h5{
    font-family: "Pinyon Script", serif;
  }
  
  p{
    font-family: "Pinyon Script", serif;
  }
