html {
    height: 100%;
    width: 100%;
  }

  .body {
    background-image: url("imgs/road.png");
    background-size: cover;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-family: "Gentium Book Plus", serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

.GoOn1{
  color: #ffffff;
  ;
}
.diff{
  color: rgb(0, 238, 255);
}

.diff2{
  color: rgb(0, 221, 0);
}

div{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 60px;
  background-color: rgba(240, 248, 255, 0.247);
}


.gentium-book-plus-regular {
font-family: "Gentium Book Plus", serif;
font-weight: 400;
font-style: normal;
}

.gentium-book-plus-bold {
font-family: "Gentium Book Plus", serif;
font-weight: 700;
font-style: normal;
}

.gentium-book-plus-regular-italic {
font-family: "Gentium Book Plus", serif;
font-weight: 400;
font-style: italic;
}

.gentium-book-plus-bold-italic {
font-family: "Gentium Book Plus", serif;
font-weight: 700;
font-style: italic;
}


h1{
  font-family: "Gentium Book Plus", serif;
}

h3{
  font-family: "Gentium Book Plus", serif;
}

h5{
  font-family: "Gentium Book Plus", serif;
}

p{
  font-family: "Gentium Book Plus", serif;
}
